<h1 class="header">@artist.name</h1>
<br/>
<h2>Songs</h2>
<% @artist.songs.each do |song| %>
  <%= render 'songs/song', { song: song } %>
<% end %>
<br />
<%= link_to 'Edit Artist', @artist %>
<%= link_to 'Add Artist', new_artist_path %>

