<hr />
<%if @artist == nil%>
	<%@artist=Artist.find(song.artist_id)%>
<%end%>
<p><%= song.name %></p>
<p><%= song.length %></p>
<%= link_to 'View Full Details', artist_song_path(@artist,song) %>
<%= link_to 'View Artist', @artist %>
<hr/>