<h1 class="header">Billboards</h1>
<%= link_to 'New Billboard', new_billboard_path %>
<hr/>
<ul class="ui celled list">
	<% @billboards.each do |board|%>
		<div class="item"><%= link_to "#{board.name}", board %></div>
	<%end%>
</ul>
